*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}
p {
  line-height: 1.5em;
  font-size: 18px;
  text-align: left;
  margin-bottom: 25px;
  color: #2F4F4F;
}


.section {
  padding: 1em 1em;
  margin: 0 auto;
  max-width: 750px;
}
.section--gray {
  border-top: 1px solid #D6D9DC;
}
/* Tooltip Wrapper */
.has-tooltip {
  position: relative;
  color: #00CED1;
}
.has-tooltip .tooltip {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: visibility 0s ease 0.5s,opacity .3s ease-in;
  -moz-transition: visibility 0s ease 0.5s,opacity .3s ease-in;
  -o-transition: visibility 0s ease 0.5s,opacity .3s ease-in;
  transition: visibility 0s ease 0.5s,opacity .3s ease-in;
}
.has-tooltip:hover .tooltip {
  opacity: 1;
  visibility: visible;
}

/* Tooltip Body */
.tooltip {
  background-color: #222;
  bottom: 130%;
  color: #fff;
  font-size: 12px;
  left: 50%;
  margin-left: -56px;
  padding: 6px;
  position: absolute;
  text-align: center;
  text-decoration: none;
  text-shadow: none;
  width: 100px;
  z-index: 4;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}

/* Tooltip Caret */
.tooltip:after {
  border-top: 5px solid #2F4F4F;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  bottom: -5px;
  content: " ";
  font-size: 0px;
  left: 50%;
  line-height: 0%;
  margin-left: -4px;
  position: absolute;
  width: 0px;
  z-index: 1;
}

@media only screen and (min-width: 580px) {
  .section {
    margin: 4em auto;
    padding: 2.5em 3em;
  }
  .section--gray {
    border: 1px solid #D6D9DC;
  }
}
